<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="margin-right:  559px;">ברוכה הבאה</h1>
    <br>
    <br>
    <br>
    <br>
    <input type="button"value="הזנת משתמשים" style="width: 500px;height: 90px;margin-right:  400px;"(click)="enterUsers()" >
    <br>
    <br>
    <input type="button"value="הכנסת התמחויות"style="width:500px;height:90px;margin-right:400px"(click)="enterSpecialization()">
    <br>
    <br>
    <input type="button"value="הכנסת מקצועות להתמחויות" style="width: 500px;height: 90px;margin-right: 400px;"(click)="enterSubjectsToSpecialization()">
    <br>
    <br>
    <input type="button" value="הכנסת קבצים למערכת"style="width: 500px;height: 90px;margin-right: 400px;" (click)="NewFile()">
    <br>
    <br>
    <input type="button" value="עדכון מערכת שעות" style="width: 500px;height: 90px;margin-right:  400px;"(click)="updateSchedule()">
    <br>
    <br>
    <input type="button" value="מעקב אחר מיקום התלמידות (בידודים)"style="width: 500px;height: 90px;margin-right:  400px">
    <br>
    <br>
    <input type="button" value="מיקום תלמידות בחדרים"style="width: 500px;height: 90px;margin-right:  400px"(click)="PlaceStudents()">

</body>

</html>