
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- לשאול את חוי...... -->
    <h1 style="margin-right:  559px;">שלום לך ____</h1>
    <br>
    <br>
    <br>
    <br>
    <input type="button" value="מעקב אחר תלמידות" style="width: 500px;height: 90px;margin-right:  400px;"(click)="TrackingStudents()">
    <br>
    <br>
    <!-- <input type="button" value="עדכון מערכת שעות" style="width: 500px;height: 90px;margin-right:  400px;">
    <br>
    <br> -->
</body>
</html>