<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>עדכון מערכת שעות ליום</h1>
    <table>
        <tr>
            <th>תאריך</th>
            <th>מס' התמחות</th>
            <th>מס' מקצוע</th>
        </tr>
        <tr>
            <input type="date"value="01/01/2020" [(ngModel)]="date">
           <input type="number" maxlength="3" value="" [(ngModel)]="numSpe">
           <input type="number" maxlength="3" value="מס' מקצוע" [(ngModel)]="numSub">
            <td><input type="submit" (click)="send()"></td>
        </tr>
    </table>
</body>
</html>