<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ברוכה הבאה</h1>
    <br>
    <br>
    <input type="button" value="שליחת חומר לימודי" style="width: 500px;height: 90px;margin-right:  400px;" (click)="Send_matirial()">   
    <br>
    <br>
    <input type="button" value="שליחת הודעות לתלימדות" style="width: 500px;height: 90px;margin-right:  400px;"(click)="Send_masage()">
    <br>
    <br>
    <input type="button" value="שליחת מבחנים לתלמידות" style="width: 500px;height: 90px;margin-right:  400px;"(click)="Send_tests()">
    <br>
    <br>
    <input type="button" value="מעקב אחר התלמידות" style="width: 500px;height: 90px;margin-right:  400px;"(click)="Tracking_students()">
    <br>
    <br>
    <input type="button" value="מילוי מעקב אחר תלמידות" style="width: 500px;height: 90px;margin-right:  400px;"(click)="Fill_Tracking_students()">
    <br>
    <br>
</body>
</html>
